<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.sidiff.domain.modelloader.extensionpoint" name="IModelLoader" schema="schema/org.sidiff.domain.modelloader.extensionpoint.exsd"/>
   <extension-point id="org.sidiff.domain.extensionpoint" name="org.sidiff.domain.extensionpoint" schema="schema/org.sidiff.domain.extensionpoint.exsd"/>

</plugin>
