<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ModiscoJavaDomain"
         name="ModiscoJavaDomain"
         point="org.sidiff.domain.extensionpoint">
      <client
            nsUri="http://www.eclipse.org/MoDisco/Java/0.2.incubation/java">
      </client>
   </extension>

</plugin>
