/.SimpleFeatureExpressionRuntimeModule.java._trace
/.SimpleFeatureExpressionRuntimeModule.xtendbin
/.SimpleFeatureExpressionStandaloneSetup.java._trace
/.SimpleFeatureExpressionStandaloneSetup.xtendbin
/SimpleFeatureExpressionRuntimeModule.java
/SimpleFeatureExpressionStandaloneSetup.java
