<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.sidiff.conditions.extensionpoint" name="conditions" schema="schema/org.sidiff.conditions.extensionpoint.exsd"/>
   <extension
         id="org.sidiff.conditions.extensionpoint"
         name="conditions"
         point="org.sidiff.conditions.extensionpoint">
      <client
            class="org.sidiff.conditions.ChildrenMatchedCondition">
      </client>
      <client
            class="org.sidiff.conditions.CompareFunctionCondition">
      </client>
      <client
            class="org.sidiff.conditions.EqualAnnotationValueCondition">
      </client>
      <client
            class="org.sidiff.conditions.EqualAttributeValueCondition">
      </client>
      <client
            class="org.sidiff.conditions.EqualRemoteAttributeValueCondition">
      </client>
      <client
            class="org.sidiff.conditions.FalseCondition">
      </client>
      <client
            class="org.sidiff.conditions.FixedAnnotationValueCondition">
      </client>
      <client
            class="org.sidiff.conditions.FixedAttributeValueCondition">
      </client>
      <client
            class="org.sidiff.conditions.FixedRemoteAnnotationValueCondition">
      </client>
      <client
            class="org.sidiff.conditions.FixedRemoteAttributeValueCondition">
      </client>
      <client
            class="org.sidiff.conditions.LogicAndCondition">
      </client>
      <client
            class="org.sidiff.conditions.LogicNotCondition">
      </client>
      <client
            class="org.sidiff.conditions.LogicOrCondition">
      </client>
      <client
            class="org.sidiff.conditions.LogicXorCondition">
      </client>
      <client
            class="org.sidiff.conditions.NoChildrenCondition">
      </client>
      <client
            class="org.sidiff.conditions.NoRemoteNodesCondition">
      </client>
      <client
            class="org.sidiff.conditions.ParentMatchedCondition">
      </client>
      <client
            class="org.sidiff.conditions.ParentOfTypeCondition">
      </client>
      <client
            class="org.sidiff.conditions.SameContainingFeatureCondition">
      </client>
      <client
            class="org.sidiff.conditions.SameParentTypeCondition">
      </client>
      <client
            class="org.sidiff.conditions.TrueCondition">
      </client>
   </extension>

</plugin>
