<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="EntitiesModelStringResolver"
         name="Entities Model String Resolver"
         point="org.sidiff.common.emf.stringresolver.string_resolver_extension">
      <string_resolver
            string_resolver="org.sidiff.entities.stringresolver.EntitiesModelStringResolver">
         <documentType>http://www.sidiff.org/entities/model/1.0</documentType>
      </string_resolver>
   </extension>

</plugin>
