<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.sidiff.matching.testdriver"
         name="Matching Test Driver"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.sidiff.matching.testdriver.TestDriver">
         </run>
      </application>
   </extension>

</plugin>
