<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.sidiff.common.emf.metrics.metrics_extension">
      <metric
            class="org.sidiff.domain.ecore.metrics.RatioOfAbstractToConcreteEClasses"
            key="ecore.RatioOfAbstractToConcreteEClasses"
            name="Ratio of abstract to concrete EClasses">
         <documentType>
            http://www.eclipse.org/emf/2002/Ecore
         </documentType>
      </metric>
      <metric
            class="org.sidiff.domain.ecore.metrics.NumberOfElementsAndProperties"
            comparisonType="UNSPECIFIED"
            key="ecore.NumberOfElementsAndProperties"
            name="Number of Elements and Properties">
         <documentType>
            http://www.eclipse.org/emf/2002/Ecore
         </documentType>
      </metric>
   </extension>

</plugin>
