<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.imotep.de/SimpleFeatureExpression"
			class = "de.imotep.simpleFeatureExpression.SimpleFeatureExpressionPackage"
			genModel = "model/generated/SimpleFeatureExpression.genmodel" />
	</extension>
</plugin>
