<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.sidif.annotator.extensionpoint"
         name="Annotator"
         point="org.sidiff.annotator.extensionpoint">
      <client
            class="org.sidiff.annotator.common.SetAttributeAnnotator">
      </client>
      <client
            class="org.sidiff.annotator.common.DerivedSignatureAnnotator">
      </client>
      <client
            class="org.sidiff.annotator.common.PersistentIDAnnotator">
      </client>
      <client
            class="org.sidiff.annotator.common.HashAnnotator">
      </client>
      <client
            class="org.sidiff.annotator.common.AnnotationPathAnnotator">
      </client>
      <client
            class="org.sidiff.annotator.common.AttributePathAnnotator">
      </client>
      <client
            class="org.sidiff.annotator.common.TypePathAnnotator">
      </client>
      <client
            class="org.sidiff.annotator.metric.GetAncestorNode">
      </client>
      <client
            class="org.sidiff.annotator.metric.Count2StepNeighbourNodesByValue">
      </client>
      <client
            class="org.sidiff.annotator.metric.Count2StepNeighbourTypes">
      </client>
      <client
            class="org.sidiff.annotator.metric.CountAttributeValueTextLength">
      </client>
      <client
            class="org.sidiff.annotator.metric.CountChildNodesTypes"></client>
      <client
            class="org.sidiff.annotator.metric.CountChildNodesByValue"></client>
      <client
            class="org.sidiff.annotator.metric.CountChildrenValueStartsWith"></client>
      <client
            class="org.sidiff.annotator.metric.CountReferences"></client>
      <client
            class="org.sidiff.annotator.metric.CountReferencesByType"></client>
      <client
            class="org.sidiff.annotator.metric.CountChildEdgeTypes">
      </client>
      <client
            class="org.sidiff.annotator.metric.CountTargets"></client>
      <client
            class="org.sidiff.annotator.metric.CountSubtreeNodesByValue">
      </client>
      <client
            class="org.sidiff.annotator.metric.CountSubtreeNodesByType">
      </client>
      <client
            class="org.sidiff.annotator.common.IntrinsicIDAnnotator">
      </client>
   </extension>
   <extension
         id="org.sidiff.annotation.extensionpoint"
         name="org.sidiff.annotation.extensionpoint"
         point="org.sidiff.annotation.extensionpoint">
      <client
            class="org.sidiff.annotation.impl.DefaultAnnotation">
      </client>
   </extension>
   <extension
         id="org.sidiff.service.extensionpoint"
         name="Service"
         point="org.sidiff.service.extensionpoint">
      <client
            class="org.sidiff.annotation.impl.DefaultAnnotation">
      </client>
   </extension>

</plugin>
