<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         id="org.sidiff.tools.editrules.generator.test.Driver"
         name="Generator"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.sidiff.tools.editrules.generator.test.Driver">
         </run>
      </application>
   </extension>
</plugin>
