<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.sidiff.comparators.extensionpoint" name="comparators" schema="schema/org.sidiff.comparators.extensionpoint.exsd"/>
   <extension
         id="org.sidiff.comparators.extensionpoint"
         name="comparators"
         point="org.sidiff.comparators.extensionpoint">
      <client
            class="org.sidiff.comparators.impl.CEquals">
      </client>
      <client
            class="org.sidiff.comparators.impl.CEStringToStringMapEntry">
      </client>
      <client
            class="org.sidiff.comparators.impl.ECAttributeDynamic">
      </client>
      <client
            class="org.sidiff.comparators.impl.CHeaviside">
      </client>
      <client
            class="org.sidiff.comparators.impl.ECFeatureMap">
      </client>
      <client
            class="org.sidiff.comparators.impl.LCAlignedList">
      </client>
      <client
            class="org.sidiff.comparators.impl.ECMatchedOrSimilar">
      </client>
      <client
            class="org.sidiff.comparators.impl.ECMatched">
      </client>
      <client
            class="org.sidiff.comparators.impl.ECSimilarity">
      </client>
      <client
            class="org.sidiff.comparators.impl.VCCharacterEqualsCI">
      </client>
      <client
            class="org.sidiff.comparators.impl.VCGauss">
      </client>
      <client
            class="org.sidiff.comparators.impl.SCGreedySimilarity">
      </client>
      <client
            class="org.sidiff.comparators.impl.SCGreedyMatchedOrSimilar">
      </client>
      <client
            class="org.sidiff.comparators.impl.SCArithmeticMeanSimilarity">
      </client>
      <client
            class="org.sidiff.comparators.impl.VCStringLCS">
      </client>
      <client
            class="org.sidiff.comparators.impl.CQName">
      </client>
      <client
            class="org.sidiff.comparators.impl.ECAnnotation">
      </client>
      <client
            class="org.sidiff.comparators.impl.SCSize">
      </client>
      <client
            class="org.sidiff.comparators.impl.SCMatched">
      </client>
      <client
            class="org.sidiff.comparators.impl.VCStringIndexOf">
      </client>
      <client
            class="org.sidiff.comparators.impl.VCStringEqualsCI">
      </client>
      <client
            class="org.sidiff.comparators.impl.ECGeometricDistance">
      </client>
      <client
            class="org.sidiff.comparators.impl.VCStringEMFCompare">
      </client>
      <client
            class="org.sidiff.comparators.impl.ECAttributeStatic">
      </client>
      <client
            class="org.sidiff.comparators.impl.CHeavisideReverse">
      </client>
      <client
            class="org.sidiff.comparators.impl.ECEqualIndex">
      </client>
      <client
            class="org.sidiff.comparators.impl.LCLongestCommonSubsequence">
      </client>
      <client
            class="org.sidiff.comparators.impl.CEqualType">
      </client>
   </extension>

</plugin>
