<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SiDiffInternalTools/dependencytool/src/org/sidiff/internal/tools/dependencytool/DependencyCreator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.sidiff.internal.tools.dependencytool.DependencyCreator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${workspace_loc} ${workspace_loc}/SiDiffInternalTools/dependencytool/resources ${workspace_loc}/SiDiffInternalTools/dependencytool/output"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SiDiffInternalTools"/>
</launchConfiguration>
